extends ../../template/page
include ../../template/page-header
include ../../template/gallery

block variables
  - json = require("../../template/norway.json");
  - cls = require("../../js/cls.json");
  - title = json.header.title

block header
  +page-header(json, cls)
block main
  main(class=cls.main)
    +gallery(json, cls, parent)
